/* 
  IMPORTANT! Some tricks gots from YouTube - https://www.youtube.com/channel/UCD3KVjbb7aq2OiOffuungzw
  Thank you a lot, DarkCode! :) 
 */

/* Главные характеристики страницы */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/bg-forest.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;   // (2 - адаптивность)
  background-size: cover;
}

/* Импорт вложенных в папку SCSS стилей */

@import 'fonts.scss';
@import 'index.scss';
