/* Colors */

$color_footer: #414141;        // Footer
$color_footer-text: #727272;   // footer-text
$color_wrapper: #f6f6f6;       // Wrapper
$color_link: #33c1e3;          // Links
$color_red: #e35f61;           // Resume Buttons, hide menu and other red items
