* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #afa;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.block {
  background-color: #f00;
  width: 200px;
  height: 100px;
  text-align: center;
}