/* Fonts */

/* FiraSans */

@font-face {
    font-family: 'FiraSans-Bold';
    src: url('../fonts/FiraSans/FiraSans-Bold.ttf')  format('truetype');
}

@font-face {
    font-family: 'FiraSans-Light';
    src: url('../fonts/FiraSans/FiraSans-Light.ttf')  format('truetype');
}

@font-face {
    font-family: 'FiraSans-Medium';
    src: url('../fonts/FiraSans/FiraSans-Medium.ttf')  format('truetype');
}

@font-face {
    font-family: 'FiraSans-Regular';
    src: url('../fonts/FiraSans/FiraSans-Regular.ttf')  format('truetype');
}

/* FontAwesome */

@font-face {
    font-family: 'FontAwesome-Webfont';
    src: url('../fonts/FontAwesome/fontawesome-webfont.ttf')  format('truetype');
}

/* Google Fonts */
