/* 
  IMPORTANT! Some tricks gots from YouTube - https://www.youtube.com/channel/UCD3KVjbb7aq2OiOffuungzw
  Thank you a lot, DarkCode! :) 
 */

body {
  padding: 0;
  margin: 0;
  background: url(../img/bg-forest.jpg) no-repeat;
  background-size: cover;
}

.wrapper {
  width: 100%;
}

.container {
  display: flex;
  width: 450px;
  background-color: rgba(0,0,0,.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
}

.main_title {
  color: white;
  font-family: 'Century Gothic', sans-serif;
}

.main_title h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}

.main_title h5 {
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 100;
}
/* 
.main_title p {
  text-align: justify;
}
 */
.main_title__img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

ul {
  padding: 0;
  margin: 0;
}

.main_title li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.main_title li a {
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms; // ( 1 - плавное угасание объекта после наведения )
}

/* Hover Colors */

// VK
.main_title li a.vk:hover {
  color: #aaf; 
}
// Facebook
.main_title li a.facebook:hover {
  color: #55f; 
}
// Instagram
.main_title li a.instagram:hover {
  color: rgb(255, 0, 242); 
}

/* Кнопка с переходом на сайт */

/* Для новичков */
// Верстая кнопу с помощью гиперссылки, мы в качестве блока размечаем только ОТСТУПЫ,
.main_btn {
  padding: 0;
  margin: 13px 0;
}
// а стилизируем только саму ГИПЕРСЫЛКУ!
.main_btn a {
  text-align: center;
  padding: 13px 45px;
  background-color: #00f;
  border-radius: 5px;
  transition: all ease-in-out 250ms; // (1)
  color: #ff0;
  text-decoration: none;
  font-size: 20px;
}
// наводим мышку....
.main_btn a:hover{
  background-color: #ff0;
  color: #00f;
}

