/* 
  IMPORTANT! Some tricks gots from YouTube - https://www.youtube.com/channel/UCD3KVjbb7aq2OiOffuungzw
  Thank you a lot, DarkCode! :) 
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/bg-forest.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;   // (2 - адаптивность)
  background-size: cover;
}

.wrapper {
  width: 100%;
}

.container-main {
  display: flex;
  max-width: 450px; // (2)
  background-color: rgba(0,0,0,.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  position: relative;
	min-height: 100%;

}

.main-title {
  color: white;
  font-family: 'Century Gothic', sans-serif;
}

.main-title h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}

.main-title h5 {
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 100;
}
/* 
.main_title p {
  text-align: justify;
}
 */
.main-title__img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

ul {
  padding: 0;
  margin: 0;
}

.main-title li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.main-title li a {
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms; // ( 1 - плавное угасание объекта после наведения )
}

/* Hover Colors */

// VK
.main-title li a.vk:hover {
  color: #aaf; 
}
// Facebook
.main-title li a.facebook:hover {
  color: #55f; 
}
// Instagram
.main-title li a.instagram:hover {
  color: rgb(255, 0, 242); 
}

// /* Кнопка с переходом на сайт */

// /* Для новичков */
// // Верстая кнопу с помощью гиперссылки, мы в качестве блока размечаем только ОТСТУПЫ,
// .main_btn {
//   padding: 0;
//   margin: 13px 0;
// }
// // а стилизируем только саму ГИПЕРСЫЛКУ!
// .main_btn a {
//   text-align: center;
//   padding: 13px 45px;
//   background-color: #00f;
//   border-radius: 5px;
//   transition: all ease-in-out 250ms; // (1)
//   color: #ff0;
//   text-decoration: none;
//   font-size: 20px;
// }
// // наводим мышку....
// .main_btn a:hover{
//   background-color: #ff0;
//   color: #00f;
// }

.container-footer {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: rgba(0,0,0,.4);
  position: absolute;
	bottom: 0;
	// left: 0;
}

.contact-info {
  margin: auto;
  align-self: center;
  margin: 13px auto;
}

.contact-info p, .contact-info a {
  font-family: 'Century Gothic', sans-serif;
  text-align: center;
  color: white;
  text-decoration: none;
}
/* Адаптивность */
@media only screen and (max-width: 450px) {
  .wrapper {
    margin: 0;
  }

  .container-main {
    margin: 0;
    height: 100%;
  }

  .main-title h1 {
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 100;
    padding: 5px 0;
  }

  .main-title h5 {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 100; 
    padding: 15px 0;
  }
      
  .main-title p {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 100;
  }

  .main-title__img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .main-title li a{
    font-size: 45px;
  }
}
