/* import - support */
/* Fonts */
/* FiraSans */
@font-face {
  font-family: 'FiraSans-Bold';
  src: url("../fonts/FiraSans/FiraSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'FiraSans-Light';
  src: url("../fonts/FiraSans/FiraSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'FiraSans-Medium';
  src: url("../fonts/FiraSans/FiraSans-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'FiraSans-Regular';
  src: url("../fonts/FiraSans/FiraSans-Regular.ttf") format("truetype"); }

/* FontAwesome */
@font-face {
  font-family: 'FontAwesome-Webfont';
  src: url("../fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"); }

/* Google Fonts */
/* Colors */
/* Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background-color: #f6f6f6; }

.header-page, .main-page, .footer-page {
  display: flex;
  justify-content: center; }

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 940px; }

/* import - pages */
/* Hello - Index */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.index-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 300px;
  height: 233px;
  box-shadow: 1px 2px #eee;
  border-radius: 15px 15px 15px 15px;
  background-color: #fff; }

.index-container__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -66px; }

.avatar {
  width: 138px;
  height: 138px;
  border: 2px solid #aaa;
  border-radius: 50%; }

.index-container__title {
  display: flex;
  justify-content: center;
  align-items: center; }

.user-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  color: #000; }

.index-container__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79px;
  background-color: #33c1e3;
  border-radius: 0 0 15px 15px; }

.nav-item {
  text-decoration: none;
  padding: 5px 15px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  font-family: "FiraSans-Bold", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px; }

.nav-item:hover {
  color: #33c1e3;
  border: 2px solid #33c1e3;
  background-color: #fff; }

/* HEADER */
.header-page {
  height: 80px;
  background-color: #fff; }

.header-menu {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.header-menu--author {
  display: flex;
  justify-content: space-between; }

.user {
  display: flex;
  justify-content: space-between; }

.user_img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #000; }

.user_link {
  display: flex;
  align-items: center;
  font-family: 'FiraSans-Regular';
  text-decoration: none;
  color: #000;
  font-weight: 200;
  font-size: 18px;
  margin-left: 20px; }

.header-menu--contact {
  display: flex;
  align-items: center; }

.contact-link {
  color: #33c1e3;
  text-decoration: none;
  font-family: 'FiraSans-Bold';
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 4px;
  border-bottom: 2px solid #33c1e3;
  border-style: none none dotted; }

.contact-link:hover {
  color: #e35f61;
  border-bottom: 2px solid #e35f61;
  border-style: none none dotted; }

.dropdown {
  display: none;
  position: absolute;
  white-space: nowrap;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  margin-top: 75px;
  margin-right: 50px;
  margin-left: -20px;
  border-radius: 15px; }

.dropdown_nav {
  list-style-type: none; }

.dropdown_item {
  padding: 10px 0;
  border-bottom: 1px solid gray; }

.dropdown_item:last-child {
  border: none; }

.dropdown_item-link {
  color: #000;
  text-decoration: none; }

.dropdown_item-link:hover {
  color: #33c1e3; }

.header-menu--contact:hover .dropdown {
  display: block; }

.dropdown_item-link--icon {
  color: #33c1e3; }

/* Pages - Main */
/* MAIN */
.main-page {
  background-color: #f6f6f6; }

.container-page {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }

.sidebar {
  display: flex;
  flex: 2 1 auto;
  align-self: flex-start;
  justify-content: flex-end;
  margin: 30px 0;
  padding: 0; }

.menu-nav {
  list-style-type: none;
  text-align: right; }

.menu-items {
  padding: 10px 0; }

.border-active {
  border-right: 5px solid #33c1e3;
  color: #33c1e3; }

.border-passed {
  border-right: 5px solid #f6f6f6; }

.menu-items-link {
  text-decoration: none;
  padding-right: 20px; }

.link-active {
  color: #33c1e3; }

.link-passed {
  color: #000; }

.menu-items-link:hover {
  color: #33c1e3; }

.main-page--about {
  display: flex;
  flex: 1 2 auto;
  margin: 30px 0;
  align-self: flex-end;
  justify-content: space-around;
  flex-direction: row; }

.main-page--about-photo img {
  border-radius: 50%;
  height: 220px;
  width: 220px; }

.main-page--about-description {
  width: 380px; }

.description-title {
  display: flex;
  justify-content: flex-start; }

.description-title strong {
  font-family: 'FiraSans-Medium';
  font-size: 35px;
  font-weight: 400; }

.description-about {
  display: block; }

.description-about p {
  font-family: 'FiraSans-Light';
  font-size: 18px;
  font-weight: normal;
  color: #434343;
  padding: 5px 0; }

.description-resume {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px; }

.resume {
  text-decoration: none;
  padding: 5px 20px;
  color: #e35f61;
  border: 2px solid #e35f61;
  border-radius: 20px;
  font-family: "FiraSans-Bold", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px; }

.resume:hover {
  color: #fff;
  border: 2px solid #e35f61;
  background-color: #e35f61; }

/* FOOTER */
.footer-page {
  height: 50px;
  background-color: #414141;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }

.footer-page--copyright {
  color: #aaa; }

.social-network-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none; }

.nav-item-social {
  color: #aaa;
  font-size: 24px;
  margin: 0 5px; }

.nav-item-social:hover {
  color: #33c1e3; }
