* {
	box-sizing: border-box;
}
body {
	font-family: Tahoma, sans-serif;
	line-height: 1.5;
	color: #333333;
}

.header {
	margin-top: 80px;
	font-size: 24px;
	text-align: center;
}

.header p {
	font-weight: 550;
	text-transform: uppercase;
}

.pics {
	margin-top: 70px;
  text-align: justify;
  margin-bottom: 95px; 
  }
 
/*.pics-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 14%;
  margin-bottom: 20px;
}
*/