/* Colors */

// main colors 
$color_black: #000000;
$color_white: #fff;

// index.html
$color_shadow: rgba(0, 0, 0, 0.2); // Shadow the frames and icons (avatar)
$color_index_btn: #33c1e3;  // Color of button in index.html
$color_gray: #414141; // Color of H2 text font 

// about.html
$color_contact: #32c3e5; // Мои Контакты
$color_frame_icon: #bebebe; // Avatar frame
$color_footer: #414141; // Footer 
$color_footer-text: #646464; // Footer text (copyright)
$color_selected-link: #4db2ce; // Selected link
