@charset "UTF-8";
/* 
  IMPORTANT! Some tricks gots from YouTube - https://www.youtube.com/channel/UCD3KVjbb7aq2OiOffuungzw
  Thank you a lot, DarkCode! :) 
 */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: url(../img/bg-forest.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.wrapper {
  width: 100%; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%; }

.main_title {
  color: white;
  font-family: 'Century Gothic', sans-serif; }

.main_title h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100; }

.main_title h5 {
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 100; }

/* 
.main_title p {
  text-align: justify;
}
 */
.main_title__img {
  border-radius: 50%;
  width: 200px;
  height: 200px; }

ul {
  padding: 0;
  margin: 0; }

.main_title li {
  display: inline-block;
  margin: 6px;
  list-style: none; }

.main_title li a {
  color: white;
  text-decoration: none;
  font-size: 60px;
  -webkit-transition: all ease-in-out 250ms;
  -o-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

/* Hover Colors */
.main_title li a.vk:hover {
  color: #aaf; }

.main_title li a.facebook:hover {
  color: #55f; }

.main_title li a.instagram:hover {
  color: #ff00f2; }

/* Кнопка с переходом на сайт */
/* Для новичков */
.main_btn {
  padding: 0;
  margin: 13px 0; }

.main_btn a {
  text-align: center;
  padding: 13px 45px;
  background-color: #00f;
  border-radius: 5px;
  -webkit-transition: all ease-in-out 250ms;
  -o-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  color: #ff0;
  text-decoration: none;
  font-size: 20px; }

.main_btn a:hover {
  background-color: #ff0;
  color: #00f; }
