/*** FILE: COLORS.CSS ***/

/* Background */
$color_background_header-page: #000;          // header-page
$color_background_header-container: rgba(0, 0, 0, 0.7);     // header-container
$color_background_main: #222;                 // main
$color_background_footer_bottom: #333;        // footer-bottom

/* Text and links */
$color_text_main: #fff;                       // main text

/* Hover link */
$colot_link-header-hover: #ffaa00;            // link:hover

/* Contact Buttons */
$color_contact_button-whatsapp: #00ff15;      // WhatsApp
$color_contact_button-facebook: #00f;         // Facebook
$color_contact_button-instagram: #e100ff;     // Instagram
