/* Import files */
/* Fonts */
@font-face {
  font-family: 'Open Sans - Semibold';
  src: url("../fonts/OpenSans/OpenSans-Semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans - Regular';
  src: url("../fonts/OpenSans/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans/firasans-bold-webfont.woff2") format("woff2"), url("../fonts/FiraSans/firasans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans/firasans-medium-webfont.woff2") format("woff2"), url("../fonts/FiraSans/firasans-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans/firasans-regular-webfont.woff2") format("woff2"), url("../fonts/FiraSans/firasans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans/firasans-light-webfont.woff2") format("woff2"), url("../fonts/FiraSans/firasans-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/webfont.woff2?v=4.7.0") format("woff2");
  font-weight: normal;
  font-style: normal; }

/* Variables for fonts */
/* Colors */
/* Pages stylizing - About, Contacts, Portfolio */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* *** Content *** */
/* Common styles - html&body */
html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5rem; }

/* Header */
header {
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff; }

header .container {
  justify-content: space-between; }

.portfolio-image img {
  height: 60px;
  border: 3px solid #bebebe;
  border-radius: 50%;
  margin: 0 auto; }

.portfolio-name {
  flex: 1 0 0;
  margin-left: 20px; }

.portfolio-name h2 {
  color: #414141;
  font-weight: 400; }

.contact-link {
  justify-content: flex-end;
  border-bottom: 1px solid #32c3e5;
  border-style: none none dotted; }

.contact-link a {
  color: #32c3e5;
  text-decoration: none; }

/* Main */
main {
  display: flex;
  width: 100%;
  flex: 1 0 auto; }

.content,
.sidebar {
  display: flex;
  flex: 2 1 auto; }

.sidebar {
  text-align: right;
  color: #414141;
  width: 350px; }

.content-photo {
  flex: 1 1 auto; }

ul {
  list-style-type: none; }

a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  padding: 14px 24px;
  height: 44px; }

.link-on a, .link-off a:hover {
  color: #4db2ce;
  border-right: 6px solid #4db2ce; }

.link-off a {
  color: #414141;
  border-right: 6px solid #fff; }

.fa {
  margin-right: 7px; }

/* Footer */
footer {
  white-space: nowrap;
  margin: 0 auto;
  height: 50px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #414141; }

/* *** Fonts *** */
h2 {
  font-weight: 500; }

h3 {
  font-weight: 400; }

p {
  font-weight: 300; }

/* Main - Index - Portfolio */
.wrapper {
  margin: 0;
  height: 100%;
  width: 100%; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 940px;
  margin: 0 auto;
  height: 100%; }

.index {
  height: 300px;
  width: 300px;
  border: 0;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0.1em 0.05em 0.05em rgba(0, 0, 0, 0.2), -0.05em 0 rgba(0, 0, 0, 0.2); }

.index-header {
  margin: 0 auto; }

.index-header img {
  height: 138px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto; }

.index-main {
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center; }

.index-main h2 {
  color: #414141;
  font-family: "Open Sans - Semibold", "Arial", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px; }

.index-footer {
  text-align: center;
  background-color: #33c1e3;
  border: 0;
  border-radius: 0 0 15px 15px;
  height: 78px;
  padding: 21px 70px 31px; }

.index-footer a {
  color: #fff;
  font-family: "Fira Sans", "Arial", sans-serif;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  /* line-height: 28px; */
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 9px 15px 13px; }

/* Main SCSS File for CSS compiling */
